public/css/*
public/img/PC.png
public/resume/*
data/job_positions/**/

vendor
js/node_modules
js/package-lock.json
composer.lock
temp
.env
.env.local
.idea
.composer-lock
templates/resume.dev.html.twig
.idea/
.phpunit*